[submodule "riak"]
	path = riak
	url = git://github.com/basho/riak-chef-cookbook.git
[submodule "erlang"]
	path = erlang
	url = git://github.com/opscode-cookbooks/erlang.git
[submodule "build-essential"]
	path = build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "git"]
	path = git
	url = git://github.com/opscode-cookbooks/git.git
[submodule "yum"]
	path = yum
	url = git://github.com/opscode-cookbooks/yum.git
