[submodule "riak"]
	path = riak
	url = git://github.com/basho/riak-chef-cookbook.git
[submodule "erlang"]
	path = erlang
	url = git://github.com/opscode-cookbooks/erlang.git
[submodule "build-essential"]
	path = build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "git"]
	path = git
	url = git://github.com/opscode-cookbooks/git.git
[submodule "yum"]
	path = yum
	url = git://github.com/opscode-cookbooks/yum.git
[submodule "cron"]
	path = cron
	url = git://github.com/opscode-cookbooks/cron.git
[submodule "route53"]
	path = route53
	url = git://github.com/hw-cookbooks/route53.git
[submodule "apt"]
	path = apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "ulimit"]
	path = ulimit
	url = git://github.com/bmhatfield/chef-ulimit
[submodule "dmg"]
	path = dmg
	url = https://github.com/opscode-cookbooks/dmg.git
[submodule "windows"]
	path = windows
	url = https://github.com/opscode-cookbooks/windows.git
[submodule "runit"]
	path = runit
	url = https://github.com/opscode-cookbooks/runit.git
[submodule "chef_handler"]
	path = chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler.git
